/* ***************************************************************** */
/* -------- NOVICENOTES.NET UNIVERSAL FONTS SIDEBAR ---------------- */
/* -------- STYLESHEET BY J. SABARESE OF NOVICENOTES.NET ----------- */
/* ***************************************************************** */


/* *********************************************** GLOBAL CLASSES */
/* FOR USE INDEPENDENT OF ANY ELEMENT *** */
.smaller {font-size:smaller;color:#bbb;}

.inlineDesc {font-size:smaller; letter-spacing:-1px;font-weight:200;}


/* *********************************************** GLOBAL ELEMENT COLORS */
/* GLOBAL ELEMENT COLORS */


/* *************************************************** BODY ID * BODY ID */
/* BODY ID * DYNAMIC-CODE SPECIFIC TO EACH PAGE */

body#safetyfonts {
	/* none here */
}

/*** DO -NOT- MODIFY THE CODE between THIS LINE and LINE No. [340] ***/

/* ### WARNING: DO NOT ADD PADDING TO AFFECT THE IDs BELOW! ### */

/* ******************************************************** * HTML */
/* HTML */

/* ******************************************************** * BODY */
/* BODY */

body {
	font-size:small;
	background-color:#FFFFEE;
	color:#333;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

/* ****************************************************** * * * SPAN */
/* SPAN */

span.sansspan {font-family:monospace;}

span.heythere {font-weight:bold;color:#33CC66;}


span.headgetsmaller {
	font-size:50%;
	/* TEMP COLOR  */
	color:#aaa;
	}

/* ******************************************************* * * * DIV */
/* DIV */

div#mainfonts {
    width:200px;
    }
div#ampcredits {
	font-size:x-small;
	background-color:#000077;
	color:#ee0;
	font-family:Arial, Arial, Helvetica, sans-serif;
	padding:0.2em;
	text-align:left;
}
#dagger {font-variant:small-caps;}

div.stremBG {background-color:#FEFEFC;}

/* ------------------------------------- - - - - * * * * * * * HEADINGS */

/* ******************************************************* H1 * H1 * H1 */
/* H1 */
#mainfonts h1 {
  color:#bce;
  display:block;
  border:1px solid #9ac;
 }
/* ******************************************************* H2 * H2 * H2 */
/* H2 */

/* H3 */

#mainfonts h3 {color:#ccc;}

/* ******************************************************* H4 * H4 * H4 */
/* H4 */

h4#headshow {text-align:center;margin:0 auto;color:#FFF6ED;}

/* ********************************************************** P * P * P */
/* PARAGRAPH */

p#makebold {
/*	cursor: url('cursor/strong-w60.svg'); */
}
p.toggitalic {
	cursor: pointer;
	text-decoration: underline;
	color: #333;
	/* background-color:#FCF8EF; */
	background:transparent;
	padding:0.3em 0.1em 0 0.1em;
}
p.togglebold {
	cursor:pointer;
	text-decoration:underline;
	color:#333;
	/*background-color: #FCF8EF;*/
	background:transparent;
	padding:0 0.1em 0.3em 0.1em;
}
p#fin {
	background-color:#623;
	color:#eee;
	font-family:Arial, Arial, Helvetica, sans-serif;
	padding:0.2em;
	text-align:left;
	font-size:x-small;
	border:1px solid #aaa;
}

/* ***************************************************** UL * UL * UL */
/* UL **** UNORDERED LISTS */

ul.nobull {
	padding:0;
	list-style-type: upper-roman;
 list-style-image: url(../images/fonticonbest.gif);
	list-style-position: outside;
	margin-left:-1em;
}

/* ***************************************************** OL * OL * OL */
/* OL **** ORDERED LISTS */

ol#olamplist {padding-left:0em;list-style-position:inside;outline:1px solid #444;}
#amplanations ol#olamplist li.amplist {
	padding-left:0em;
	margin-left:0em;
	border:none;
	border-top:1px solid #555;
	border-right:1px solid #444;
}



/* ****************************************************** LI * LI * LI */
/* LIST ITEMS */

li.lightgrey {
	background-color: #eee;
}
li.darkgrey {
	background-color: #fff;
}
li.serif {
	list-style-position: outside;
	font-family: serif;
}
li#georgia {font-family: Georgia, georgia, serif;}
li#palatino {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
li#timesnewrom {font-family:"Times New Roman", Times, serif;}
li#arial {font-family: Arial, Helvetica, sans-serif;}
li#arialblack {font-family: Arial Black, Gadget, sans-serif;}
li#impact{font-family: Impact, Charcoal, sans-serif;}
li#lucida{font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
li#tahoma{font-family: Tahoma, Geneva, sans-serif;}
li#trebuchet{font-family: "Trebuchet MS", Trebuchet, sans-serif; }
li#verdana{font-family: Verdana, Geneva, sans-serif;}
li#comicsans{font-family: "Comic Sans MS", "Comic Sans", cursive;}
li#couriernew {font-family: 'Courier New', Courier, monospace;}
li#lucidacon {font-family: "Lucida Console", Monaco, monospace;}
li#andalemon {font-family: "Andale Mono", "monte carlo", monospace;}
li#symbol {font-family:Symbol, Symbol;}
li#webdings {font-family:Webdings, Webdings;}
li#wingdings {font-family:Wingdings, "Zapf Dingbats";}
li#fantasy {font-family:fantasy;}
li#exceptMSSerif {font-family: "MS Serif", "New York", serif;}
li#exceptMSSans {font-family: "MS Sans Serif", Geneva, sans-serif; }
.georgia {font-family: Georgia, georgia, serif;}
.palatino {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
.timesnewrom {font-family:"Times New Roman", Times, serif;}
.arial {font-family: Arial, Helvetica, sans-serif;}
.arialblack {font-family: Arial Black, Gadget, sans-serif;}
.impact{font-family: Impact, Charcoal, sans-serif;}
.lucida{font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.tahoma{font-family: Tahoma, Geneva, sans-serif;}
.trebuchet{font-family: "Trebuchet MS", Trebuchet, sans-serif; }
.verdana{font-family: Verdana, Geneva, sans-serif;}
.comicsans{font-family: "Comic Sans MS", "Comic Sans", cursive;}
.couriernew {font-family: 'Courier New', Courier, monospace;}
.lucidacon {font-family: "Lucida Console", Monaco, monospace;}
.andalemon {font-family: "Andale Mono", "monte carlo", monospace;}
.symbol {font-family:Symbol, Symbol;}
.webdings {font-family:Webdings, Webdings;}
.wingdings {font-family:Wingdings, "Zapf Dingbats";}
.fantasy {font-family:fantasy;}
.exceptMSSerif {font-family: "MS Serif", "New York", serif;}
.exceptMSSans {font-family: "MS Sans Serif", Geneva, sans-serif; }
.underline {text-decoration:underline;color:#c64;}
/* li:before {
    white-space: pre;
    content: "    "
} */
li {
	margin:0.5em 0;
   border-top:2px solid #fff;
   border-right:3px solid #555;
   border-left:2px solid #fff;
   border-bottom:4px solid #666;
	width:90%;
	padding:0.2em 0 0.2em 0.2em;
}

/* ****************************************************** DL * DL * DL */
/* DL * *** * DEFINITION LISTS */

dl {
    background-color:#FFF;
    padding:0;
	margin:0;
/*  border:5px double #339; */
    }
dl#font-DL-one {
	background-image: url(bg/parchmosteven.jpg);
	background-attachment: scroll;
	background-position: 0px 0px;
	color:#000;
}
dl#customarea {background-image: url(bg/font-dl-custom.png);}
dl#customarea dd strong {
	 color:#00A;
}
dl#customarea dd strong.step {
	background-color:#fff;
	padding:0.1em 0.2em;
	border:0.05em solid #55a;
	}
dl#customarea dd p {margin:0.8em;color:#000;}
dl#customarea #disp {
	background-color:#ffe;
	font-size:150%;
	padding:0.5em;
	border:2px dashed #333;
}
dt#testinstruct:first-line {
	color:#ff0;
	text-indent: 1em;
	word-spacing:-1px;
	letter-spacing:-1px;
	font-weight:bold;
}
dt#testinstruct {
	color:#ff0;
	text-indent: 1em;
	word-spacing:-1px;
	letter-spacing:-1px;
	font-weight:normal;
}
p#customtells {color:#000;}
p#whatfontnow {font-weight:bold;color:#339;}
p#newfontname {
color:#FF0;
	margin:0.2em;
	text-align:center;
	background-color:#333;
	font-size:18px;
}

/* ****************************************************** DT * DT * DT */
/* DT * *** * DEF TERMS */

dt {
    font-size:1.5em;
    font-weight:bold;
    color:#C00;
    background-color:transparent;
	 margin-top:0.8em;
    }
dt#serifDT {
	color:#D7423F;
	font-family: serif;
}
dt#sansserifDT {
	font-family: sans-serif;
	color:#6A5ACD;
}
dt#cursiveDT {
	font-family:"Comic Sans MS","Comic Sans", cursive;
	color: #777;
}
dt#monotypeDT{
	font-family:"Courier New", Courier, monospace;
    color:#0000CC;
}
dt#symbolsDT{color:#009900;}
dt#fantasyDT{font-family:fantasy;color:#660099;}
dt#exceptionDT{font-family:sans-serif;color:#990066;}
dt sup {font-size:x-small;line-height:200%;}

/* ****************************************************** DD * DD * DD */
/* DD * *** * DEF DATA */

dd {
	width:85%;
	background-color: #DDD;
/*	outline:2px double #c33; */
	padding:1px 0;
}
dd#cursiveDD{
	background-color: #777;
}
dd#serifDD {
	background-color: #D7423F;
}
dd#sansserifDD {
	background-color:#9a8afd;
}
dd#monotypeDD {background-color:#0000CC;}
dd#symbolsDD {background-color:#009900;}

dd.nodent {border-right:0.2em ridge #777;}
/* ********************************************** TABLE * TABLE * TABLE */
/* TABLE */

/* ******************************************************* FORM * FORM */
/* FORMS */

/* INPUT */
input#inp {background-color:#EEF;}

input#fontButton,
button#fontButton {
	line-height: 99%;
	font-family: sans-serif;
	font-weight: 800;
	background-color:#FFF;
	color:#0000FF;
	padding:0.3em 0.5em;
	border-color:#00f;
	border-width:wide;
}

input#fontButton:hover,
button#fontButton:hover {
	line-height: 99%;
	font-family: sans-serif;
	font-weight: 800;
	background-color:#EEEEFF;
	color:#00F;
	padding:0.3em 0.5em;
	border-color:ff0;
	border-width:wide;
}

input#fontButton:active,
button#fontButton:active,
input#fontButton:focus,
button#fontButton:focus{
	border-color:#0A0;
}

/* ************************************************* IMG * IMG * IMG */
/* IMAGES */

img.toggleimg {
	display: block;
	text-align: center;
	margin:3px auto 1px auto;
	padding:3px 0 0 0;
}

/* ************************************************************** HR */
/* HORIZONTAL RULE */

/* ***************************************************** A * A * A * */
/* HYPERLINKS - ANCHORS */

a:link, a:visited {color:#ee0;}
a:hover {color:#aaF;}

/* *************** */
/* PSEUDO-CLASSES  */ /* **************************** PSEUDO-CLASSES */
/* *************** */

p#stepFour a:link,
 p#stepFour a:visited {
	color: #FFFFFF;
}
p#stepFour strong span a:hover {color:#00c;}


/* ** IE6 Fix ** */


/* ########################################## ------------------------ */
/* ------------------------------------------ END CASCADING STYLESHEET */
/* ########################################## ------------------------ */

/* # */
/* ### */
/* ###### */
/* ######### */
/* ############ */
/* ############### */
/* ################## */
/* ##################### */
/* ######################## */
/* ########################### */
/* ############################## */

/* THANKS FOR USING THE NOVICENOTES.NET UNIVERSAL FONT BROWSER PANEL */


/* 0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0 */
/* ----------------------------------------------------------------- */
/* - ADVERTISEMENT - ADVERTISEMENT - ADVERTISEMENT - ADVERTISEMENT - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* --- VISIT CENTREWEBDESIGN.COM FOR YOUR WEB DEVELOPMENT NEEDS ---- */
/* --- LEARN TO PLAY GUITAR AT STATECOLLEGEGUITARLESSONS.COM ------- */
/* ----------------------------------------------------------------- */
/* 0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0 */