    --wp-admin--admin-bar--height: 32px;
    --wp-block-synced-color: #7a00df;
    --wp-block-synced-color--rgb: 122,0,223;
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
    --wp-admin-theme-color: #3858e9;
    --wp-admin-theme-color--rgb: 56,88,233;
    --wp-admin-theme-color-darker-10: #2145e6;
    --wp-admin-theme-color-darker-10--rgb: 33,69,230;
    --wp-admin-theme-color-darker-20: #183ad6;
    --wp-admin-theme-color-darker-20--rgb: 24,58,214;
    --wp-admin-border-width-focus: 2px;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --jp-carousel-primary-color: #fff;
    --jp-carousel-primary-subtle-color: #999;
    --jp-carousel-bg-color: #000;
    --jp-carousel-bg-faded-color: #222;
    --jp-carousel-border-color: #3a3a3a;
    --jetpack--contact-form--border: 1px solid #8c8f94;
    --jetpack--contact-form--border-color: #8c8f94;
    --jetpack--contact-form--border-size: 1px;
    --jetpack--contact-form--border-style: solid;
    --jetpack--contact-form--border-radius: 0px;
    --jetpack--contact-form--input-padding: 16px;
    --jetpack--contact-form--font-size: 16px;
    --jetpack--contact-form--error-color: #b32d2e;
    --jetpack--contact-form--inverted-text-color: #fff;
    --tw-block-rounded: 16px;
    --tw-block-rounded-sm: 0.5rem;
    --tw-block-border-color: hsla(0,0%,50%,.4);
    --tw-block-shadow: 0 8px 18px 0 rgba(0,0,0,.12);
    --tw-block-shadow-lg: 0 16px 26px 0 rgba(0,0,0,.14);
    --tw-block-hard-shadow: 0 0 0 2px #000,6px 6px 0 2px #000;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--color--foreground: #000000;
    --wp--preset--color--background: #ffffff;
    --wp--preset--color--primary: #ff3366;
    --wp--preset--color--secondary: #404040;
    --wp--preset--color--tertiary: #F6F6F6;
    --wp--preset--color--text-link: #ff3366;
    --wp--preset--color--border-color: #ff3366;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
    --wp--preset--font-size--small: 1rem;
    --wp--preset--font-size--medium: 1.75rem;
    --wp--preset--font-size--large: 3rem;
    --wp--preset--font-size--x-large: 4.5rem;
    --wp--preset--font-size--xsmall: 0.7rem;
    --wp--preset--font-size--gigantic: 6rem;
    --wp--preset--font-size--btn-size: 0.875rem;
    --wp--preset--font-family--system-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    --wp--preset--font-family--open-sans: "Open Sans", sans-serif;
    --wp--preset--font-family--oswald: "Oswald", serif;
    --wp--preset--font-family--alegreya: "Alegreya", serif;
    --wp--preset--font-family--cabin: "Cabin", sans-serif;
    --wp--preset--font-family--crimson-pro: "Crimson Pro", serif;
    --wp--preset--font-family--eb-garamond: "EB Garamond", serif;
    --wp--preset--font-family--inter: "Inter", sans-serif;
    --wp--preset--font-family--libre-franklin: "Libre Franklin", sans-serif;
    --wp--preset--font-family--lora: "Lora", serif;
    --wp--preset--font-family--playfair-display: "Playfair Display", serif;
    --wp--preset--font-family--raleway: "Raleway", sans-serif;
    --wp--preset--font-family--roboto-flex: "Roboto Flex", sans-serif;
    --wp--preset--font-family--roboto-mono: "Roboto Mono", monospace;
    --wp--preset--font-family--roboto-serif: "Roboto Serif", serif;
    --wp--preset--font-family--roboto-slab: "Roboto Slab", serif;
    --wp--preset--font-family--rubik: "Rubik", sans-serif;
    --wp--preset--font-family--source-sans-3: "Source Sans 3", sans-serif;
    --wp--preset--font-family--source-serif-4: "Source Serif 4", serif;
    --wp--preset--font-family--work-sans: "Work Sans", sans-serif;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
    --wp--custom--spacing--large: clamp(4rem, 10vw, 8rem);
    --wp--custom--spacing--medium: clamp(2rem, 8vw, calc(4 * var(--wp--style--block-gap)));
    --wp--custom--spacing--outer: 1.25rem;
    --wp--custom--spacing--small: 1.25rem;
    --wp--custom--typography--font-size--heading-five: clamp(1.3rem, 2vw, 1rem);
    --wp--custom--typography--font-size--heading-four: clamp(1.3rem, 2vw, 1rem);
    --wp--custom--typography--font-size--heading-one: clamp(2rem, 3vw, 1.5rem);
    --wp--custom--typography--font-size--heading-six: clamp(1.3rem, 2vw, 1rem);
    --wp--custom--typography--font-size--heading-three: clamp(1.5rem, 2vw, 1rem);
    --wp--custom--typography--font-size--heading-two: clamp(1.8rem, 3vw, 1.3rem);
    --wp--custom--typography--font-size--paragraph: clamp(1.3rem, 2vw, 1rem);
    --wp--custom--typography--font-size--post-title: clamp(2rem, 3vw, 1.5rem);
    --wp--custom--typography--font-weight--bold: 700;
    --wp--custom--typography--font-weight--extra-bold: 900;
    --wp--custom--typography--font-weight--light: 300;
    --wp--custom--typography--font-weight--medium: 500;
    --wp--custom--typography--font-weight--normal: 400;
    --wp--custom--typography--font-weight--semi-bold: 600;
    --wp--custom--typography--line-height--large: 2;
    --wp--custom--typography--line-height--medium: 1.75;
    --wp--custom--typography--line-height--normal: 1.5;
    --wp--custom--typography--line-height--small: 1.25;
    --wp--custom--typography--line-height--tiny: 1;
    --wp--style--global--content-size: 1200px;
    --wp--style--global--wide-size: 1200px;
    --wp--style--block-gap: var(--wp--preset--spacing--40);
    color: var(--wp--preset--color--foreground);
    font-family: var(--wp--preset--font-family--open-sans);
    font-size: var(--wp--preset--font-size--small);
    line-height: var(--wp--custom--typography--line-height--normal);
    -webkit-font-smoothing: antialiased;
    width: 50%;
